@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ethan Black - CS460 - HW4</h1>
    <p class="lead">Try my RGB to Color</p>
    <p><a href="Home/RGBColor" class="btn btn-primary btn-lg">Try it &raquo;</a></p>
    <?- button doesn't work -->
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>