@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/main.js"></script>    
}
<style></style>

<div id="user" class="row justify-content-start">
    <div id="user-1" class="col"></div>
    <div id="user-2" class="col"></div>
</div>

<ul id="repos"></ul>


<table id="commits">
</table>