
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Ethan Black - CS460 - HW4</h1>
    <p>Try my Color Interpolator</p>
    <p><a href="ColorInterpolator/Create" class="btn btn-primary btn-lg">Try it &raquo;</a></p>
    <?- button doesn't work -->
</div>