
@{
    ViewBag.Title = "Index";
}

<h2>Homework 8</h2>
<br />
<div>
    @Html.ActionLink("Add a new racer", "AddAthlete")
</div>
<div>
    @Html.ActionLink("View all athletes", "Athletes")
</div>
<div>
    @Html.ActionLink("Add a new meet", "AddMeet")
</div>
<div>
    @Html.ActionLink("Add a new race", "AddRace")
</div>