
@{
    ViewBag.Title = "Confirmation";
}

<h1>Thanks.</h1>
<p class="lead">Homework has been added to the database.</p>
<p><a href="ViewAll" class="btn btn-primary btn-lg">View All Homework &raquo;</a></p>