body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.dashboard {
    color: darkseagreen;
}

a.dashboard:hover {
    color: forestgreen;
    text-decoration: none;
    display: inline-block;
    background-color: lightgray;
}

#search {
    border-radius: 25px;
    border: 2px solid forestgreen;
    padding: 20px;
    width: 75%;
    height: 50px;
    color: forestgreen;
}

.button {
    position: relative;
    border-radius: 25px;
    padding: 2px 20px;
    width: 20%;
    height: 50px;
    border: 2px solid forestgreen;
    background-color: forestgreen;
    color: white;
}

.button:hover {
    background-color: white;
    color: forestgreen;
}

.home-name {
    font-size: 300%;
    color: forestgreen;
}

.home-name:hover {
    color: darkseagreen;
    text-decoration: none;
}

#stock-item {
    border-radius: 25px;
    border: 2px solid forestgreen;
    width: auto;
}

h2, hr, b, dd, dt {
    color: forestgreen;
    width: auto;
}